.footer {
   position: relative;
   background-color: #0A2850;
   color: white;
   overflow: hidden;
   padding: 60px 80px;
}

.footer__logo {
   height: 39px;
   width: 105px;
}

.footer__social-heading {
   padding-bottom: 20px;
   font-family: "Inter";
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
}

.footer__content {
   display: flex;
   justify-content: space-between;
   z-index: 1;
   position: relative;
   margin-bottom: 108px;
}

.footer__social-link {
   color: white;
   text-decoration: none;
   font-family: "Inter";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
}



.footer__social-link:hover {
   color: #c1c1c1;
}

.footer__circle {
   background-color: #2F80ED;
   border-radius: 50%;
   position: absolute;
   height: 340px;
   width: 340px;
   top: -128px;
   left: -44px;
}

.footer__list {
   list-style: none;
}

.footer__social-icon {
   height: 16px;
   width: 16px;
   padding-right: 10px;
}

.footer__copyright {
   margin-bottom: 60px;
   font-family: "Inter";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
}

.footer__list-item {
   padding-bottom: 16px;
}