.form__input::placeholder {
  height: 20px;
  padding-top: 15px;
}


.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button-submit:enabled {
  opacity: 1;
}

.form__button-submit:hover:enabled {
  opacity: 0.7;
}

.form__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}


.reservation__form-checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  padding-right: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  flex-direction: row;
  margin: 32px;
  justify-content: center;

}

.form__checkbox-input {
  margin: 0 12px;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row-reverse;
}