.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  padding-left: 80px;
  padding-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  display: flex;
  justify-content: center;

}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  padding-top: 24px;
  padding-bottom: 215px;
}

.recipes__videos-item {
  margin-right: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}