.reservation {
  background-color: #D9E7FF;
  background-image: url("/images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.reservation__form {
  max-width: 385px;
  padding-top: 80px;
  padding-bottom: 120px;
  box-sizing: border-box;
  margin: auto;
}

.reservation__title {
  margin: 0 auto 80px;
  padding-top: 100px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}