.reservation{
background-color:#D9E7FF;
background-image: url("/images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-content: center;
}